{
  "extends": "@istanbuljs/nyc-config-typescript",
  "reporter": [
    "text",
    "lcov"
  ],
  "exclude": [
    "coverage",
    "libs/**",
    "src/components/**",
    "src/common/**",
    "node_modules",
    "src/app/(admin)/**",
    "src/app/(user)/**"
  ],
  "include": [],
  "excludeAfterRemap": true,
  "all": true,
  "check-coverage": true,
  "extension": [
    ".js",
    ".cjs",
    ".mjs",
    ".ts",
    ".tsx",
    ".jsx"
  ],
  "report-dir": "./coverage",
  "cache": false
}
